.table {
  margin: 0 auto;
  width: 80%;
  border-collapse: collapse;
  font-family: sans-serif;
  text-align: center;
}

.table thead tr {
  background-color: #2f2f2f;
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

.table th,
.table td {
  padding: 10px 5px;
  border: 2px solid #000;
  font-size: 26px;
}

.table tbody tr:nth-child(even) {
  background-color: #d9d9d9;
}
